<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Restaurar contraseña</title>
    <style>
      .content {
        border: 10px solid #eeeeee;
        border-radius: 25px;
        margin: auto;
        padding: 25px;
        width: max-content;
      }

      .content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
      }

      .content .title {
        color: #060830;
        font-size: 32px;
        padding-top: 20px;
        font-weight: bold;
        text-align: center;
        font-family: Roboto, sans-serif !important;
      }

      .content .subtitle {
        color: #060830;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 25px 0px;
        font-family: Roboto, sans-serif !important;
      }

      .content .message {
        color: #000000;
        font-size: 16px;
        text-align: center;
        font-family: Roboto, sans-serif !important;
      }

      .content .action {
        margin-top: 40px;
        text-align: center;
      }

      .content .button-link {
        border-radius: 30px;
        margin: auto !important;
        background-color: #060830;
        text-decoration: none;
        padding: 10px 50px;
        font-weight: bold;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #ffffff;
      }
    </style>
  </head>

  <body>
    <div>
      <div class="content">
        <img src="<%= logo %>" />
        <div class="title">Hola!</div>
        <div class="subtitle"><%= username %></div>
        <div class="message">
          Recibimos una solicitud para restablecer la contraseña de su cuenta.
          <br /><br />
          Simplemente haga clic en el botón para establecer una nueva contraseña
        </div>
        <div class="action">
          <a
            href="<%= appUrl %>/#/restore/password?query=<%= query %>"
            class="button-link"
            >Establecer nueva contraseña</a
          >
        </div>
        <br /><br />
        <div class="message" style="color: #ababab;">
          Si no solicitó cambiar su contraseña, ¡no se preocupe!
          <br />
          Su contraseña aún está guardada.
        </div>
      </div>
    </div>
  </body>
</html>
